/build
/build_log_perftest
/build_log_perftest.exe
/build.ninja
/depfile_parser_perftest
/depfile_parser_perftest.exe
/manifest_parser_perftest
/manifest_parser_perftest.exe
/new.txt
/nin
/ninja
/ninja.exe
/ninja_test
/ninja_test.exe
/old.txt
